body { 
	background-color: white;
    color: black;
    font-size: small;
    font-family: Lucida Sans Unicode,Arial,Helvetica,sans-serif;
}

.gmap {
	margin: 5px;
    border: thin solid black;
    float: right;
}

p {
    margin: 20px;
}